/* (Partially) stolen from https://jgthms.com/web-design-in-4-minutes/ */

/* Colours
 * #E8E8E8    off white
 * #FFFFFF    white
 * #FF6600    orange
 * #3D3D3D    grey
 * #313131    dark grey
 */


body {
  margin: 0 auto;
  max-width: 50em;
  font-family: "Helvetica", "Arial", sans-serif;
  line-height: 1.5;
  padding: 4em 1em;
  color: #3D3D3D;
}

hr {
    border-top: 1px dotted;
}

h2 {
  margin-top: 1em;
  padding-top: 1em;
}

h1,
h2,
strong {
  color: #313131;
}


a {
  color: #FF6600;
}


textarea {
  display: block;
  margin-left: auto;
  margin-right: auto;
  resize: none;
}


header {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 20pt;
}

.content {
  align-items: center;
  justify-content: center;
  margin-bottom: 20pt;

}

.header__content-image {
  flex-basis: 40%;
}

.header__content-text {
  padding-left: 20px;
}


#title-text {
  color: #aeaeae;
}

textarea {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 40em;
  margin-bottom: 3pt;
}

input {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 39.9em;
}


.section_heading {
  color: #aeaeae;
  font-size: 80%;
}

.blog_title {
  margin-top: 70pt;
  font-size: 160%;
}

blockquote {
  border-left: 3pt solid #FF6600;
  background-color: #e8e8e8;
  margin: 1.5em 10px;
  padding: 0.5em 10px;
  color: #313131;
}

.quote_em {
  color: #FF6600;
}

sup {
  color: #aeaeae;
  margin: 3px 4px;
}

.citation {
  color: #FF6600;
  text-decoration: none;
  border-bottom: 1px dotted #FF6600;
}
