/* (Partially) stolen from https://jgthms.com/web-design-in-4-minutes/ */

/* Colours
 * #f5f5f5    off white
 * #FFFFFF    white
 * #FF6600    orange
 * #3D3D3D    grey
 * #313131    dark grey
 */

html {
  font-family: Georgia,Times,Times New Roman,serif;
}

body {
  margin: 0 auto;
  max-width: 45em;
  line-height: 1.5;
  padding: 4em 1em;
  color: #3D3D3D;
  padding-bottom: 20em;
}

hr {
  border-color: #f5f5f5;
  border-top: 1px dotted;
  width: 90%;
}

h2 {
  margin-top: 1em;
  padding-top: 1em;
}

h2 {
  margin-top: 1em;
  padding-top: 1em;
}

h1,
h2,
strong {
  color: #313131;
}


a {
  color: #FF6600;
  text-decoration: none
}


textarea {
  display: block;
  margin-left: auto;
  margin-right: auto;
  resize: none;
}


header {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 20pt;
}

.content {
  align-items: center;
  justify-content: center;
  margin-bottom: 20pt;

}

.header__content-image {
  flex-basis: 40%;
}

.header__content-text {
  padding-left: 20px;
}

.post_index_container {
  padding-left: 40px;
  padding-right: 40px;
}

table {
  border-collapse: collapse;
  border-style: hidden;
}

table td,
table th {
  border: 1px dotted #0d0d0d;
  padding-left: 6px;
  padding-right: 6px;
  padding-top: 2px;
  padding-bottom: 2px;
}

.blog__posts_table {
  width: 95%;
}

tr:nth-of-type(even) {
  background-color: #f5f5f5;
}


tr:first-child th {
  border-bottom: 1px solid #0D0D0D;
  border-left: hidden;
  padding: 10px;
}

#title-text {
  color: #aeaeae;
}

textarea {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 40em;
  margin-bottom: 3pt;
}

input {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 39.9em;
}


.section_heading {
  color: #aeaeae;
  font-size: 80%;
}

.subsection_heading {
  color: #aeaeae;
}

.blog_title {
  margin-top: 70pt;
  font-size: 160%;
}

blockquote {
  border-left: 3pt solid #FF6600;
  background-color: #f5f5f5;
  margin: 1.5em 10px;
  padding: 0.5em 10px;
  color: #313131;
}

.quote_em {
  color: #FF6600;
}

sup {
  color: #FF6600;
  margin: 2px 2px;
  line-height: 0;
  vertical-align: super;
  font-size: 6pt;
}

.citation {
  color: #FF6600;
  text-decoration: none;
  border-bottom: 1px dotted #FF6600;
}

.footnote {
  color: #FF6600;
  text-decoration: none;
}

.papers__main {
  margin: 10pt;
  padding: 0;
}

.paper_item {
  margin: 10pt 0;
  padding: 0;
  list-style-type: none;
}
